var config = {};

config.twitter = {};

config.twitter.consumer_key = 'your consumer key';
config.twitter.consumer_secret = 'your consumer secret';
config.twitter.access_token_key = 'your access token key';
config.twitter.access_token_secret = 'your access token secret';

module.exports = config;
